body {
	background-color: cornflowerblue;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
    display: block;
	z-index: -1;
	background: url("../images/futuristic_background.jpg");
	background-size:100% 100%;
}

#console {
	height: 600px;
	width: 100px;
	background-color: yellow;
	z-index: -21;
}
#countdown {
	width: 100%;
	text-align: center;
	font-size: 10em;
	font-family: "Arial";
	color: red;
}

#playerhp {
	height: 15px;
	width: 200px;
	font-size: 12px;
	color: white;
	background:url('../images/playerHp.png');
	background-size:100% 100%;
	background-repeat:no-repeat;
}
#enemyhp {
	height: 15px;
	width: 200px;
	font-size: 12px;
	color: white;
	text-align: right;
	background:url('../images/enemyHp.png');
	background-size:100% 100%;
	background-position: right;
	background-repeat:no-repeat;
}
#playerstamina {
	height: 15px;
	width: 200px;
	font-size: 12px;
	color: white;
	background:url('../images/stamina.png');
	background-size:100% 100%;
	background-repeat:no-repeat;
}
#enemystamina {
	height: 15px;
	width: 200px;
	font-size: 12px;
	color: white;
	text-align: right;
	background:url('../images/stamina.png');
	background-size:100% 100%;
	background-position: right;
	background-repeat:no-repeat;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
