body {
	background-color: cornflowerblue;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.moveQImg {
	height: 100px;
	width: 100px;
	background-image: url("../images/moveimg.png");
	background-size: 100% 100%;
	position: absolute;
	right: 110px;
	bottom: 460px;
}

#canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
    display: block;
	z-index: -1;
	background: url("../images/futuristic_background.jpg");
	background-size: 100% 100%;
}

#console {
	height: 600px;
	width: 100px;
	background-color: yellow;
	z-index: -21;
}

#console_r {
	height: 600px;
	width: 100px;
	background-image: url("../images/console_r.png");
	background-size: 100% 100%;
	z-index: -22;
	overflow: hidden;
}

#countdown {
	width: 99%;
	text-align: center;
	font-size: 10em;
	font-family: "Arial";
	color: red;
}

#playerhp {
	height: 20px;
	width: 300px;
	font-size: 18px;
	font-family: "Arial";
	color: white;
	background:url('../images/playerHp.png');
	background-size: 100% 100%;
	background-repeat:no-repeat;
	text-shadow: 1px 1px 2px #000000;
}
#enemyhp {
	height: 20px;
	width: 300px;
	font-size: 18px;
	color: white;
	font-family: "Arial";
	text-align: right;
	background:url('../images/enemyHp.png');
	background-size: 100% 100%;
	background-position: right;
	background-repeat:no-repeat;
	text-shadow: 1px 1px 2px #000000;
}

table 
{
	width: 100%;
	padding: 10px;
	height: 75%;
	top: 5%;
	position: absolute;
	text-align: center;
}

#playerstamina {
	height: 15px;
	width: 300px;
	font-size: 12px;
	color: white;
	font-family: "Arial";
	background:url('../images/stamina.png');
	background-size: 0% 100%;
	background-repeat:no-repeat;
	text-shadow: 1px 1px 2px #000000;
}
#enemystamina {
	height: 15px;
	width: 300px;
	font-size: 12px;
	color: white;
	text-align: right;
	font-family: "Arial";
	background:url('../images/stamina.png');
	background-size: 0% 100%;
	background-position: right;
	background-repeat:no-repeat;
	text-shadow: 1px 1px 2px #000000;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
